@font-face {
    font-family: Gilroy;
    src: url(./src/Gilroy-ExtraBold.otf);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Gilroy';
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
}

.heading .image{
    height: 4.5rem;
}

.navLinks{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    font-size: 1.5rem;
}

.hero{
    display: flex;
    justify-content: space-between;
    height:  80vh;
    width: 100%;
}

.heroLeft{
    width: 52%;
    padding-left: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.heroLeft p{
    font-size: 1.275rem;
    margin-bottom: 0.01rem;
}

.heroLeft h2{
    line-height: -30px;
    font-size: 2.25rem;
    margin-bottom: 1rem;
    font-weight: 900;
}

.strongWord{
    color: #3B622B;
}

.heroBtn{
    margin-top: 2rem;
    padding: 1rem 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
}

.heroRight{
    width: 49%;
    padding-left: 3rem;
}

.heroRight img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;

}

@media (max-width: 786px) {
    .navbar{
        padding-left: 1rem;
    }
    .heading .image{
        height: 3rem;
    }
    .navLinks{
        display: none;
    }
    .hero{
        flex-direction: column;
    }
    .heroLeft{
        width: 100%;
    }
    .heroRight{
        padding-left: 1rem;
        width: 100%;
    }
}