@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.protest-riot-regular {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
  position: relative;
}

.heading .image {
  height: 4rem;
}

.navLinks {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  font-size: 1.5rem;
}

.navLinks li {
  list-style: none;
  transition: ease all 0.3s;
}

.navLinks li:hover {
  color: #3b622b;
  transform: scale(1.05) translateY(-7px);
}
.navLinks div {
  display: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  width: 100%;
}

.heroLeft {
  width: 52%;
  padding-left: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.heroLeft p {
  font-size: 1.275rem;
  margin-bottom: 0.01rem;
}

.heroLeft h2 {
  line-height: -30px;
  font-size: 2.25rem;
  margin-bottom: 1rem;
  font-weight: 900;
}

.strongWord {
  color: #3b622b;
}

.heroBtn {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #3b622b;
  color: black;
  cursor: pointer;
}

.heroRight {
  width: 49%;
  padding-left: 3rem;
}

.heroRight img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.featuredInternships {
  padding: 0.25rem;
  /* display: flex;
  flex-direction: column; */
  height: 100vh;
}

.featuredInternships h3 {
  line-height: 3rem;
  font-size: 3rem;
}

.internshipsCards {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.cardRow {
  height: 50vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.card {
  box-shadow: inset;
  padding: 2rem 3rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transition: ease all 0.4s;
}

.card:hover {
  transform: scale(1.05) translateY(-7px);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.cardHead {
  font-size: 1.4rem;
  margin-bottom: 0.125rem;
}

.card p {
  margin-bottom: 0.125rem;
}

.internshipBtn {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: #3b622b;
  color: black;
  cursor: pointer;
}

.internshipBtn:hover {
  background-color: transparent;
  color: black;
}

.browseBtn {
  border-radius: 100px;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}
.browseBtnResp {
  display: none;
}

.feedbackHead {
  font-size: 3rem;
}

.feedbackHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Updated CSS */
.feedbackCard {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
  max-width: 20rem; /* Set a maximum width using rem units */
  margin: 1rem; /* Add margin using rem units */
  text-align: center;
  transition: ease all 0.3s;
}

.feedbackCard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.05) translateY(-7px);
}

.avatarAndName {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.avatar {
  width: 80px;
  height: 80px;
  background-color: #ddd;
  border-radius: 50%;
  margin-right: 1rem; /* Add margin to create space between avatar and name */
  /* You can add more styles for the avatar image */
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* Updated CSS */
.cardTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem; /* Increase the margin-bottom for more space */
}

.cardText {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

.cardDate {
  font-size: 0.9rem;
  color: #888;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.contact {
  display: flex;
  flex-direction: column;
}

.footerImg {
  height: 3rem;
  width: 13rem;
  margin-bottom: 1rem;
}

.contactMethods {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.phone,
.email {
  display: flex;
}

.phone li, .email li{
  transition: all ease 0.3s;
}

.phone li:hover{
  color: #8c52fe;
  transform: scale(1.05) translateY(-7px);
}

.email li:hover{
  color: #8c52fe;
  transform: scale(1.05) translateY(-7px);
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.links h3 {
  margin-bottom: 1rem;
}

.links ul li {
  margin-bottom: 1rem;
  transition: all ease 0.3s;
}

.links ul li:hover{
  color: #8c52fe;
  transform: scale(1.05) translateY(-7px);;
}

.updates {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.updates h1 {
  font-size: 2rem;
}

.update-field {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.input-container {
  flex: 1;
  display: flex;
  align-items: center;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  margin-left: 10px;
}

i {
  font-size: 1.5rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.contactContent {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.form {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form .title {
  color: royalblue;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}

.form textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}

.form button {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

.contactCards{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 20px;
}

.contactCards .location div {
  font-size: 3rem;
  color: #43a724;
  font-weight: 400;
}

.contactCards li:hover {
  color: #8c52fe;
}

.contactCards .location {
  background-color: #f0f8ff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 10px;
  width: 100%;
}

.location, .contactLinkedin, .contactEmail, .contactPhone {
  transition: ease all 0.3s;
}

.location:hover {
  transform: scale(1.05) translateY(-7px);
}

.contactCards .contactPhone{
  background-color: #f0f8ff;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 10px;
  width: 100%;

}

.contactCards .contactPhone div {
  font-size: 3rem;
  color: #43a724;
  font-weight: 400;
}


.contactPhone:hover {
  transform: scale(1.05) translateY(-7px);
}

.contactCards .contactEmail{
  background-color: #f0f8ff;
  display: flex;
  align-items: flex-start;
  padding: 1rem 2rem;
  border-radius: 10px;
  width: 100%;
}

.contactCards .contactEmail div {
  font-size: 3rem;
  color: #43a724;
  font-weight: 400;
}


.contactEmail:hover {
  transform: scale(1.05) translateY(-7px);
}

.contactCards .contactLinkedin{
  background-color: #f0f8ff;
  display: flex;
  align-items: flex-start;
  padding: 1rem 2rem;
  border-radius: 10px;
  width: 100%;
}

.contactCards .contactLinkedin div {
  font-size: 3rem;
  color: #43a724;
  font-weight: 400;
}




.contactLinkedin:hover {
  transform: scale(1.05) translateY(-7px);
}

@media (max-width: 786px) {
  .navbar {
    padding-left: 1rem;
  }
  .heading .image {
    height: 3rem;
    margin-right: 2rem;
  }
  .navLinks li {
    display: none;
  }
  .navLinks div {
    display: block;
  }
  .hero {
    flex-direction: column;
    margin-bottom: 13rem; /* Stack heroLeft and heroRight in reverse order */
  }

  .heroLeft {
    width: 100%;
    padding-left: 0;
  }
  .heroBtn {
    margin-bottom: 2rem;
  }
  .heroRight {
    padding-left: 0.2rem;
    width: 100%;
  }
  .heroRight img {
    width: 100%;
  }
  .featuredInternships {
    margin-top: 10rem;
    padding: 0.25;
  }
  .card {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
  }
  .cardHead {
    margin-bottom: 0.5rem;
  }
  .cardRow {
    flex-direction: column;
    margin-bottom: 45rem;
  }
  .browseBtn {
    display: none;
  }
  .browseBtnResp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  .feedbackSection {
    margin-top: 45rem; /* Adjust the value according to your design preference */
  }
  .feedbackHead{
    line-height: 3rem;
  }
  .feedbackHolder {
    flex-direction: column;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .updates h1 {
    margin-bottom: 1rem;
  }
  .updates {
    margin-bottom: 2rem;
  }
  .update-field {
    padding-right: 3rem;
  }
  .contactContent {
    flex-direction: column-reverse;
  }

  .contactCards{
    margin-bottom: 2rem;
  }
  .contactCards .location {
    padding-right: 0;    
  }
}
